<!DOCTYPE html>

<html>
<head>
    <!--    <link rel="stylesheet" type='text/css' href="/stylesheets/template.css"/>-->
</head>
<body>
<div style="font-family: 'source-sans-pro-regular', Helvetica, Arial, sans-serif;margin: 0;padding: 0;width: 600px">

    <div class="section1" style="
        background-color: #990000;
        margin: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;">
        <div class="section1-header">
            <h1 style="margin: 0; color: white; font-family: 'source-sans-pro-bold',serif; padding: 30px">SCBites</h1>
        </div>
        <div class="divider" style="border-top: 3px solid #FFFFFF29;width: 100%"></div>
        <div class="section1-title" style="padding: 30px">
            <p style="margin: 0; color: white; font-family: 'source-sans-pro-bold',serif; font-size: 32px">
                Don't miss your <br/>
                next <span style="color: #FFCC00">bite.</span>
            </p>
        </div>
        <!--        <div>-->
        <!--            <img class="image" style="width: 100%;-->
        <!--    height: auto;" src="/images/village_dining.jpg">-->
        <!--        </div>-->
        <div class="website-button-container" style="padding: 50px;">
            <a target="_blank" href="https://scbites.rocks" class="website-button" style="
                background-color: #FFF;
                border: none;
                color: #990000;
                padding: 15px 32px;
                text-align: center;
                font-size: 16px;
                border-radius: 30px;
                font-family: source-sans-pro-bold, serif;
                text-decoration: none;"
            >Go to website</a>
        </div>
    </div>
    <div class="section2" style="background-color: white;margin: 0;width: 100%;">
        <div class="section2-header" style="display: flex;align-items: center;flex-direction: column;width: 100%;">
            <h1 style="margin: 0; color: black; font-family: 'source-sans-pro-bold',serif; padding: 30px">Here are your
                <span style="color: #990000">dishes</span> today.</h1>
        </div>
        <div class="section2-table" style="display: grid;width: 100%;grid-template-columns: 3fr 1fr">
            <div style="font-family: 'source-sans-pro-bold',serif; font-size: large; padding: 30px;background-color: #fafafa;">
                Item
            </div>
            <div style="font-family: 'source-sans-pro-bold',serif; font-size: large; padding: 30px;background-color: #fafafa;">
                Location
            </div>

            <div style="font-family: 'source-sans-pro-bold',serif; font-size: large; padding: 30px;">Grilled Cheese
            </div>
            <div style="font-family: 'source-sans-pro-bold',serif; font-size: large; padding: 30px;">Parkside</div>

        </div>
    </div>
</div>
</body>
</html>